{% extends "base.html" %} {% block title %}Admin Panel{% endblock %} {% block
content %}
<div class="admin-panel">
  <h1>Admin Panel</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div class="user-table">
    <h2>User list:</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Username</th>
          <th>E-mail</th>
          <th>Date of birth</th>
          <th>Is admin</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthdate }}</td>
          <td>{{ user.is_admin }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
