{% extends "base.html" %} {% block title %}Books{% endblock %} {% block content
%} {% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %}
<ul class="flashes">
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<h2>List of Books</h2>
<div class="admin-panel">
  <div class="user-table">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Borrowed</th>
          <th>Date of borrow</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
            {% if not book.is_borrowed %} Not borrowed {% else %} {{
            book.borrower.name }} {{ book.borrower.surname }} - {{
            book.borrower.email }} {% endif %}
          </td>
          {% if book.borrow_date %}
          <td>{{ book.borrow_date.strftime('%Y-%m-%d') }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
