{% extends "base.html" %} {% block title %}Borrow{% endblock %} {% block content
%}
<h2>Borrow a Book</h2>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<form action="{{ url_for('borrow_book') }}" method="post">
  <label for="book_id">Choose a book:</label>
  <input type="text" id="book_id" name="book_id" list="books" />
  <datalist id="books">
    {% for book in books %}
    <option value="{{ book.id }}">{{ book.title }} by {{ book.author }}</option>
    {% endfor %}
  </datalist>
  <br /><br />
  <label for="user_id">Choose a user:</label>
  <input type="text" id="user_id" name="user_id" list="users" />
  <datalist id="users">
    {% for user in users %}
    <option value="{{ user.id }}">
      {{ user.name }} {{ user.surname }} - {{ user.email }}
    </option>
    {% endfor %}
  </datalist>
  <br /><br />
  <input type="submit" value="Borrow" />
</form>
{% endblock %}
