{% extends "base.html" %} {% block title %}Panel{% endblock %} {% block content
%}
<div class="admin-panel">
  <h1>Welcome, {{ current_user.name }}!</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div class="user-table">
    <h2>Your books:</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date of borrow</th>
        </tr>
      </thead>
      <tbody>
        {% for book in borrowed_books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          {% if book.borrow_date %}
          <td>{{ book.borrow_date.strftime('%Y-%m-%d') }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
