<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <form action="{{ url_for('login') }}" method="post">
      <div>
        <input
          type="text"
          name="identifier"
          required
          placeholder="Email or Username"
        />
      </div>

      <div>
        <input
          type="password"
          name="password"
          required
          placeholder="Password"
        />
      </div>
      <br />
      <div>
        <button type="submit">Log in</button>
      </div>
      <a href="{{ url_for('register') }}">Sign up</a>
      <br />

      <a href="{{ url_for('forgot_password') }}">Forgot Password</a>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
